.gridContainer {
  overflow-x: auto;
  transition: opacity 150ms;
}

.grid {
  display: grid;
  width: max-content;
}

.gridCompact {
  row-gap: 6px;
  column-gap: 32px;
}

.gridDetailed {
  row-gap: 8px;
  column-gap: 32px;
}