.legendBox {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: transform 150ms ease;
}

.legendBox:hover {
  transform: scale(1.2);
}
