.yAxisLabel {
  display: flex;
  align-items: center;

  position: sticky;
  left: 0;
  background-color: var(--mantine-color-body);
  z-index: 1;

  margin-right: -16px;
}

.yAxisLabelCompact {
  height: 28px;
}

.yAxisLabelDetailed {
  min-height: 80px;
}